
/****** Object:  Table [dbo].[States]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [nvarchar](10) NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[States] ON
INSERT [dbo].[States] ([Id], [CountryId], [Name], [Code]) VALUES (1, 14, N'Victoria', N'VI')
INSERT [dbo].[States] ([Id], [CountryId], [Name], [Code]) VALUES (2, 14, N'Tasmania', N'TS')
INSERT [dbo].[States] ([Id], [CountryId], [Name], [Code]) VALUES (3, 14, N'Queensland', N'QL')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
SET IDENTITY_INSERT [dbo].[States] OFF
/****** Object:  Table [dbo].[Payments]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[Date] [datetime] NOT NULL,
	[PaidTo] [nvarchar](100) NULL,
	[PaymentModeId] [int] NULL,
	[ExpenseHeadId] [int] NOT NULL,
	[Amounts] [money] NOT NULL,
	[Narration] [nvarchar](300) NULL,
	[CHQ_NO] [nvarchar](50) NULL,
	[CHQ_DATE] [datetime] NULL,
	[BANK] [nvarchar](100) NULL,
	[Remarks] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentModes]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentModes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PayentModes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentModes] ON
INSERT [dbo].[PaymentModes] ([Id], [Mode]) VALUES (1, N'Cash')
INSERT [dbo].[PaymentModes] ([Id], [Mode]) VALUES (2, N'DD-Cheque')
INSERT [dbo].[PaymentModes] ([Id], [Mode]) VALUES (3, N'Online Transfer')
SET IDENTITY_INSERT [dbo].[PaymentModes] OFF
/****** Object:  Table [dbo].[PaymentHeads]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHeads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentHead] [nvarchar](70) NULL,
 CONSTRAINT [PK_PaymentHeads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentHeads] ON
INSERT [dbo].[PaymentHeads] ([Id], [PaymentHead]) VALUES (1, N'Addmision Fee')
INSERT [dbo].[PaymentHeads] ([Id], [PaymentHead]) VALUES (2, N'CourseFee')
INSERT [dbo].[PaymentHeads] ([Id], [PaymentHead]) VALUES (3, N'Installment')
SET IDENTITY_INSERT [dbo].[PaymentHeads] OFF
/****** Object:  Table [dbo].[LedgerTypes]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](30) NULL,
 CONSTRAINT [PK_LedgerTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LedgerTypes] ON
INSERT [dbo].[LedgerTypes] ([Id], [Type]) VALUES (1, N'Expense')
INSERT [dbo].[LedgerTypes] ([Id], [Type]) VALUES (2, N'Income')
SET IDENTITY_INSERT [dbo].[LedgerTypes] OFF
/****** Object:  Table [dbo].[Genders]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genders] ON
INSERT [dbo].[Genders] ([Id], [Gender]) VALUES (1, N'Male')
INSERT [dbo].[Genders] ([Id], [Gender]) VALUES (2, N'Female')
INSERT [dbo].[Genders] ([Id], [Gender]) VALUES (3, N'Other')
SET IDENTITY_INSERT [dbo].[Genders] OFF
/****** Object:  Table [dbo].[EXPENSESHEAD]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSESHEAD](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](3) NULL,
	[NAME] [nvarchar](30) NULL,
	[LedgerTypeId] [int] NULL,
	[OP_BAL] [float] NULL,
	[ClientId] [int] NULL,
 CONSTRAINT [PK_EXPENSESHEAD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EXPENSESHEAD] ON
INSERT [dbo].[EXPENSESHEAD] ([Id], [CODE], [NAME], [LedgerTypeId], [OP_BAL], [ClientId]) VALUES (1, N'101', N'STATIONERY SALE', 2, 0, 3)
INSERT [dbo].[EXPENSESHEAD] ([Id], [CODE], [NAME], [LedgerTypeId], [OP_BAL], [ClientId]) VALUES (2, N'102', N'FUND RECEIPT', 2, 0, 3)
INSERT [dbo].[EXPENSESHEAD] ([Id], [CODE], [NAME], [LedgerTypeId], [OP_BAL], [ClientId]) VALUES (3, N'103', N'LOAN RECOVERY', 2, 0, 3)
SET IDENTITY_INSERT [dbo].[EXPENSESHEAD] OFF
/****** Object:  Table [dbo].[Countries]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Code] [char](2) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON
INSERT [dbo].[Countries] ([Id], [Name], [Code]) VALUES (1, N'Afghanistan', N'AF')
INSERT [dbo].[Countries] ([Id], [Name], [Code]) VALUES (2, N'Albania', N'AL')
INSERT [dbo].[Countries] ([Id], [Name], [Code]) VALUES (3, N'Algeria', N'AG')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Countries] OFF
/****** Object:  Table [dbo].[Clients]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminstratorId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Lane] [nvarchar](50) NULL,
	[Street] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[GenderId] [int] NULL,
	[StateId] [int] NULL,
	[CountryId] [int] NULL,
	[Zip] [nvarchar](10) NULL,
	[Phone1] [nvarchar](50) NULL,
	[Phone2] [nvarchar](50) NULL,
	[Cell] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[ContractStartDate] [datetime] NULL,
	[ContractEndDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[LastUpdated] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[Logo] [image] NULL,
	[ContentType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON
INSERT [dbo].[Clients] ([Id], [AdminstratorId], [Name], [Lane], [Street], [City], [GenderId], [StateId], [CountryId], [Zip], [Phone1], [Phone2], [Cell], [Email], [Website], [ContractStartDate], [ContractEndDate], [CreateDate], [LastUpdated], [UpdatedBy], [Logo], [ContentType]) VALUES (2, 1, N'Deepak', N'Dhaiya', N'lahabani', N'Dhanbad', 1, 5421, 113, N'826001', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A2A000000000 AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Clients] OFF
/****** Object:  Table [dbo].[Cases]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NULL,
	[CaseNumber] [nvarchar](50) NOT NULL,
	[EnrollmentDate] [datetime] NULL,
	[JudgeName] [nvarchar](70) NULL,
	[CourtName] [nvarchar](50) NULL,
	[FirstParty] [nvarchar](100) NULL,
	[FirstPartyAddress] [nvarchar](300) NULL,
	[FirstPartyPhone] [nvarchar](50) NULL,
	[SecondParty] [nvarchar](100) NULL,
	[SecondPartyAddress] [nvarchar](300) NULL,
	[SecondPartyPhone] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[NextDate] [datetime] NULL,
	[LastUpdated] [datetime] NULL,
	[FirstHearingDate] [datetime] NULL,
	[MyPartyName] [nvarchar](100) NULL,
	[MyPartyPhone] [nvarchar](50) NULL,
	[IsFromFirstParty] [bit] NULL,
	[IsFromSecondParty] [bit] NULL,
 CONSTRAINT [PK_Cases] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cases] ON
SET IDENTITY_INSERT [dbo].[Cases] OFF
/****** Object:  Table [dbo].[CaseHearings]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseHearings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NULL,
	[HearingDate] [datetime] NULL,
	[MyRemarks] [nvarchar](255) NULL,
	[NextDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdated] [datetime] NULL,
	[Descriptions] [nvarchar](max) NULL,
 CONSTRAINT [PK_CaseHearings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CaseHearings] ON
INSERT [dbo].[CaseHearings] ([ID], [CaseId], [HearingDate], [MyRemarks], [NextDate], [IsActive], [CreatedDate], [LastUpdated], [Descriptions]) VALUES (1, NULL, CAST(0x0000A12800000000 AS DateTime), N'test', NULL, 1, CAST(0x0000A128011DB568 AS DateTime), CAST(0x0000A128011DB568 AS DateTime), NULL)
INSERT [dbo].[CaseHearings] ([ID], [CaseId], [HearingDate], [MyRemarks], [NextDate], [IsActive], [CreatedDate], [LastUpdated], [Descriptions]) VALUES (2, NULL, CAST(0x0000A12900000000 AS DateTime), N'test', NULL, 1, CAST(0x0000A128011DD50C AS DateTime), CAST(0x0000A128011DD50C AS DateTime), NULL)
INSERT [dbo].[CaseHearings] ([ID], [CaseId], [HearingDate], [MyRemarks], [NextDate], [IsActive], [CreatedDate], [LastUpdated], [Descriptions]) VALUES (3, NULL, CAST(0x0000A12A00000000 AS DateTime), N'Depak Pleasding', CAST(0x0000A13000000000 AS DateTime), 1, CAST(0x0000A128012569AC AS DateTime), CAST(0x0000A128012569AC AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CaseHearings] OFF
/****** Object:  Table [dbo].[associated_Users]    Script Date: 12/27/2013 19:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[associated_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Membership_UserId] [uniqueidentifier] NULL,
	[ClientId] [int] NULL,
 CONSTRAINT [PK_associated_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
